<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="index">
        <script src="js/tasks-processing.js"></script>
        <h1><%= greeting %></h1>
        <div class="tasks-block">
            <div class="task-list">
                <h2><%= taskListHeader %></h2>
                <form method="get" class="status-filter">
                    <div class="status-filter-entries">
                        <div class="status-filter-element"><input type="checkbox" checked name="isCompleted" value="false"><%= nonCompletedTasks %></div>
                        <div class="status-filter-element"><input type="checkbox" checked name="isCompleted" value="true"><%= completedTasks %></div>
                    </div>
                    <div class="status-filter-element"><input type="button" onclick="updateTasksAsync()" class="status-filter-element" value="<%= filterTasks %>"></div>
                </form>
                <table class="task-list" id="task-list">

                </table>
            </div>
            <div class="add-task-query">
                <h2><%= addTaskHeader %></h2>
                <form method="post" class="add-task-query" encType="multipart/form-data">
                    <table class="add-task-query">
                        <tr>
                            <td class="task-input-description"><%= taskName %></td>
                            <td class="task-input-field"><input type="text" name="taskName" required></td>
                        </tr>
                        <tr>
                            <td class="task-input-description"><%= taskAttachment %></td>
                            <td class="task-input-field"><input type="file" name="taskAttachment"></td>
                        </tr>
                        <tr>
                            <td class="task-input-description"><%= taskCompleteDate %></td>
                            <td class="task-input-field"><input type="date" name="expectedCompleteDate" required></td>
                        </tr>
                        <tr>
                            <td class="task-input-description"></td>
                            <td class="task-input-field"><input type="submit" value="<%= submitNewTask %>"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
